<header class="text-center p-3 mt-3">
    <h1 class="text-uppercase">Conference&nbsp;Registration</h1>
</header>
<div class="container">
    <hr class="m-0 mb-3"/>
    <article class="row justify-content-center">
        <section class="p-2 col-md-12 col-lg-9 col-xxl-8 timesNR fs-4">
            <p class="lh-base">
                The Registration info for IIHMSP-2022 is abvailable as following:
            </p>
            <ul class="list-unstyled text-center">
                <li><a href="./assets/datas/CR/IIHMSP-2022-Registration_Form.doc">IIHMSP-2022 Registration Form</a></li>
                <li><a href="../assets/datas/CR/Pay_by_Credit_Card_Instruction.pdf">Pay by Credit Card Instruction</a></li>
            </ul>
        </section>
    </article>
</div>