<header class="text-center p-3 mt-3">
    <h1 class="text-uppercase">Final&nbsp;Manuscript</h1>
</header>
<div class="container">
    <hr class="m-0 mb-3" />
    <article class="row justify-content-center">
        <section class="p-2 col-md-12 col-lg-9 col-xxl-8 fs-6">
            
            <p class="lh-base">
                The publisher, Springer, is working on an exclusive account for the uploading of final manuscripts and copyright release forms.
            </p>
            <p class="lh-base">
                Individual corresponding authors will be informed once the link and instructions are available.
            </p>
            <p class="lh-base">
                Thank you.
            </p>
        </section>
    </article>
</div>