<header class="text-center p-3 mt-3">
    <h1 class="text-uppercase">Keynote&nbsp;Speech</h1>
</header>
<div class="container ps-3 pe-3">
    <hr class="m-0">
    <p>
        <li>
            <a href="#Yao Zhao">
                <i>Prof. Yao Zhao: Reversible Data Hiding</i>
            </a>
        </li>
    </p>
    <hr class="m-0" id="Yao Zhao">
    <p>
        <div class="row mb-3">
            <div class="col-12 col-sm-6 col-lg-4 themed-grid-col d-flex justify-content-center align-items-center">
                <img width="200vw" src="./assets/datas/KS/Yao Zhao.png">
            </div>
            <div class="col-12 col-sm-6 col-lg-8 themed-grid-col d-flex align-items-center">
                <div class="row justify-content-center">
                    <div class="col-12 pb-3">
                        <i><h4><b>Reversible Data Hiding</b></h4></i>
                    </div>
                    <div class="col-12">
                        <p class="mb-0"><h4>Prof. Yao Zhao</h4></p>
                    </div>
                    <div class="col-12">
                        <p><h4>Beijing Jiaotong University, China</h4></p>
                    </div>
                </div>
            </div>
        </div>
    </p>
    <p>
        <h5><strong>Abstract:</strong><br></h5>
        Data hiding offers a way to embed data into cover medium for the purposes of ownership protection, authentication, ﬁngerprinting, secret communication and annotation, etc. In most data hiding algorithms, the cover data is destroyed permanently and cannot be exactly restored after the embedded message is extracted. Recently, a new data hiding technique, namely, reversible data hiding (RDH), is proposed, in which both the cover data and the embedded message can be extracted from the marked content. This speciﬁc data hiding technique has been found to be useful in the military, medical and legal ﬁelds, where the recovery of the original content is required after data extraction.<br>
In the talk, we will first introduce the concept, the basic principle and implementation of the RDH. Then we will survey the state-of-the-art. Finally, we will present some relative works in our lab.
    </p>
    <p>
        <h5><strong>Biography:</strong><br></h5>
        Yao Zhao received the B.S. degree from the Radio Engineering Department, Fuzhou University, Fuzhou, China, in 1989, and the M.E. degree from the Radio Engineering Department, Southeast University, Nanjing, China, in 1992, and the Ph.D. degree from the Institute of Information Science, Beijing Jiaotong University (BJTU), Beijing, China, in 1996.<br>
He became an Associate Professor with BJTU in 1998 and became a Professor in 2001. From 2001 to 2002, he was a Senior Research Fellow with the Information and Communication Theory Group, Faculty of Information Technology and Systems, Delft University of Technology, Delft, The Netherlands. In 2015, he visited the Swiss Federal Institute of Technology, Lausanne, Switzerland (EPFL). From 2017 to 2018, he visited the University of Southern California. He is currently the Director of the Institute of Information Science, BJTU. His current research interests include image/video coding, digital watermarking and forensics, video analysis and understanding, and artificial intelligence.<br>
Dr. Zhao serves on the Editorial Boards of several international journals, including as Associate Editors of the IEEE TRANSACTIONS ON CYBERNETICS, the IEEE TRSACTIONS ON CIRCUITS AND SYSTEMS FOR VIDEO TECHNOLOGY, a Senior Associate Editor of the IEEE SIGNAL PROCESSING LETTERS, and an Area Editor of the Signal Processing: Image Communication. He was named as a Distinguished Young Scholar by the National Science Foundation of China in 2010, and was elected as a Chang Jiang Scholar of the Ministry of Education of China in 2013. He is fellows of the IET and the IEEE.
    </p>
    <hr class="m-0">
</div>