<!--
    本頁用於放新聞
    注意範例中的 bg-danger。
    可使用 info danger warning success secondary得到不同顏色
-->
<!-- Header -->
<header class="text-center p-3 mt-3">
    <h1 class="text-uppercase">NEWS</h1>
</header>

<div class="container ps-3 pe-3">
    <hr class="m-0"/>
    <div class="row">
        <header class="d-flex mt-3 mb-3">
            <strong class="text-muted me-3">[ 2022-09-12 ]</strong>
            <strong class="flex-fill">Invited Session Updated</strong>
            
        </header>
        <article class="ps-5">
            <p>
                Invited Session IIHMSP-2022-IS05:<br>
                Information Technology and Data Science for the Humanity has been added.
            </p>
        </article>
    </div>

    <hr class="m-0"/>
    <div class="row">
        <header class="d-flex mt-3 mb-3">
            <strong class="text-muted me-3">[ 2022-08-08 ]</strong>
            <strong class="flex-fill">Invited Session Updated</strong>
            
        </header>
        <article class="ps-5">
            <p>
                Invited Session IIHMSP-2022-IS04:<br>
                Context aware Service for Smart Living has been added.
            </p>
        </article>
    </div>
    
    <hr class="m-0"/>
    <div class="row">
        <header class="d-flex mt-3 mb-3">
            <strong class="text-muted me-3">[ 2022-08-05 ]</strong>
            <strong class="flex-fill">Invited Session Updated</strong>
            
        </header>
        <article class="ps-5">
            <p>
                Invited Session IIHMSP-2022-IS03:<br>
                Emerging Techniques and Its Applications in Intelligent Information has been added.
            </p>
        </article>
    </div>

    <hr class="m-0"/>
    <div class="row">
        <header class="d-flex mt-3 mb-3">
            <strong class="text-muted me-3">[ 2022-08-05 ]</strong>
            <strong class="flex-fill">Invited Session Updated</strong>
            
        </header>
        <article class="ps-5">
            <p>
                Invited Session IIHMSP-2022-IS02:<br>
                Advanced Computer Vision and Image Processing Technologies in Industrial Applications has been added.
            </p>
        </article>
    </div>

    <hr class="m-0"/>
    <div class="row">
        <header class="d-flex mt-3 mb-3">
            <strong class="text-muted me-3">[ 2022-08-05 ]</strong>
            <strong class="flex-fill">Call for Paper Updated</strong>
            
        </header>
        <article class="ps-5">
            <p>The Call for Paper has been updated to version 8.</p>
        </article>
    </div>
    
    <hr class="m-0"/>
    <div class="row">
        <header class="d-flex mt-3 mb-3">
            <strong class="text-muted me-3">[ 2022-08-03 ]</strong>
            <strong class="flex-fill">Paper Template Updated</strong>
            
        </header>
        <article class="ps-5">
            <p>A newer version of paper template for Microsoft Word is provided.</p>
        </article>
    </div>
    <hr class="m-0"/>
    <div class="row">
        <header class="d-flex mt-3 mb-3">
            <strong class="text-muted me-3">[ 2022-07-31 ]</strong>
            <strong class="flex-fill">Call for Paper Updated</strong>
            
        </header>
        <article class="ps-5">
            <p>The Call for Paper has been updated to version 7.</p>
        </article>
    </div>

    <!--新聞範例開始-->
    <hr class="m-0"/>
    <div class="row">
        <header class="d-flex my-3">
            <strong class="text-muted me-3">[ 2022-07-30 ]</strong>
            <strong class="flex-fill">Website Updated</strong>
        </header>
        <article class="ps-5">
            <p>The website has been reorganized and restyled.</p>
        </article>
    </div>
    <hr class="m-0"/>
    <!--新聞範例結束-->
</div>