<!--
    本頁用於放新聞
    注意範例中的 bg-danger。
    可使用 info danger warning success secondary得到不同顏色
-->
<!-- Header -->
<header class="text-center p-3 mt-3">
    <h1 class="text-uppercase">NEWS</h1>
</header>
<div class="container ps-3 pe-3">
    <hr class="m-0"/>
    <div class="row">
        <header class="d-flex mt-3 mb-3">
            <span class="pe-3 ps-3 ms-3 me-2 bg-info text-white align-middle"><i>NOTICE</i></span>
            <small class="text-muted ms-3 me-3"">2022-07-31</small>
            <strong class="flex-fill">Update Call For Paper</strong>
            
        </header>
        <article class="ps-5">
            <p>The specifications for Call For Paper have been updated.</p>
        </article>
    </div>
    <hr class="m-0"/>
    <!--新聞範例開始-->
    <div class="row">
        <header class="d-flex my-3">
            <span class="pe-3 ps-3 mx-3 bg-oce-d0 text-white align-middle"><i>NOTICE</i></span>
            <strong class="text-muted me-3">[ 2022-07-30 ]</strong>
            <strong class="flex-fill">Server Website Update</strong>
        </header>
        <article class="ps-5">
            <p>The server page template has been updated to use a modern style.</p>
        </article>
    </div>
    <hr class="m-0"/>
    <!--新聞範例結束-->
    <div class="row">
        <header class="d-flex my-3">
            <span class="pe-3 ps-3 mx-3 bg-danger text-white align-middle"><i>NOTICE</i></span>
            <strong class="text-muted me-3">[ 2022-07-29 ]</strong>
            <strong class="flex-fill">Server Maintenance</strong>
        </header>
        <article class="ps-5">
            <p>The server system will be shut down due to the electrical maintenances during the following period <mark>from UTC+8 8:00 to 23:00 , July 30, 2022.</mark> This Website will be down during this period.</p>
            <p>We apologize for the inconvenience, and thank you for your patience.</p>
        </article>
    </div>
    <hr class="m-0"/>
    <div class="row">
        <header class="d-flex my-3">
            <span class="pe-3 ps-3 mx-3 bg-oce-d0 text-white align-middle"><i>NOTICE</i></span>
            <strong class="text-muted me-3">[ 2022-07-24 ]</strong>
            <strong class="flex-fill">Call For Paper Update</strong>
        </header>
        <article class="ps-5">
            <p>The specifications for Call For Paper have been updated.</p>
        </article>
    </div>
    <hr class="m-0"/>
</div>