<!--
    本頁列出寫作資訊
-->
<!-- Header -->
<header class="text-center p-3 mt-3">
    <h1 class="text-uppercase">Paper&nbsp;Template</h1>
</header>
<div class="container">
    <hr class="m-0 mb-3"/>
    <article class="row justify-content-center">
        <section class="p-2 col-md-12 col-lg-9 col-xxl-8 fs-6">
            <p class="lh-base">
                The template for IIHMSP-2022 follows the same template for the book series:
            </p>
            <ul class="list-unstyled text-center">
                <li><a href="./assets/datas/llncs2e.zip">(LaTeX) llncs2e.zip</a></li>
                <li><a href="./assets/datas/typeinst.zip">typeinst.zip</a></li>
                <li><a href="./assets/datas/splnproc1110.zip">(MS-Word 2007) splnproc1110.zip</a></li>
            </ul>
            <p class="lh-base">
                The paper length is 8-10 pages for the regular paper. Each paper is allowed to have maximum 2 extra pages with raising <strong>USD 100 registration fee per extra page</strong>.
            </p>
        </section>
    </article>
</div>